# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]
        exclude_types: [csv, json]
        # Exclude translation files except English (en.json)
        exclude: ^custom_components/solax_modbus/translations/(?!en\.json).+

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
